
@{
    Layout = "~/Views/Shared/Shared.cshtml";
}

<link href="~/Content/home.css" rel="stylesheet" />

@using System.Data;

<div class="c-layout-page">
    <!-- BEGIN: PAGE CONTENT -->
    <!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-4 -->
    <section class="c-layout-revo-slider c-layout-revo-slider-4">
        <div class="tp-banner-container c-theme">
            <div class="tp-banner rev_slider" data-version="5.0">
                <ul>
                    <!--BEGIN: SLIDE #1 -->
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                        <img alt="" src="~/Content/Images/banner/banner_Ewaste01.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <div class="tp-caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-50" data-speed="500" data-start="1000" data-transform_idle="o:1;" data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                             data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
                            <h3 class="c-main-title-circle c-font-48 c-font-bold c-font-center c-font-uppercase c-font-white c-block"></h3>
                        </div>
                        <div class="tp-caption lft" data-x="center" data-y="center" data-voffset="110" data-speed="900" data-start="2000" data-transform_idle="o:1;" data-transform_in="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                             data-transform_out="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;">

                        </div>
                    </li>
                    <!--END -->
                    <!--BEGIN: SLIDE #2 -->
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                        <img alt="" src="~/Content/Images/banner/banner_Ewaste03.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <div class="tp-caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-50" data-speed="500" data-start="1000" data-transform_idle="o:1;" data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                             data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
                            <h3 class="c-main-title-circle c-font-48 c-font-bold c-font-center c-font-uppercase c-font-white c-block">  </h3>
                        </div>
                        <div class="tp-caption lft" data-x="center" data-y="center" data-voffset="110" data-speed="900" data-start="2000" data-transform_idle="o:1;" data-transform_in="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;"
                             data-transform_out="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;">

                        </div>
                    </li>
                    <!--END -->
                    <!--BEGIN: SLIDE #3 -->
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                        <img alt="" src="~/Content/Images/banner/banner_Ewaste02.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <div class="tp-caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-50" data-speed="500" data-start="1000" data-transform_idle="o:1;" data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                             data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
                            <h3 class="c-main-title-circle c-font-48 c-font-bold c-font-center c-font-uppercase c-font-white c-block">  </h3>
                        </div>
                        <div class="tp-caption lft" data-x="center" data-y="center" data-voffset="110" data-speed="900" data-start="2000" data-transform_idle="o:1;" data-transform_in="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;"
                             data-transform_out="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;">

                        </div>
                    </li>
                    <!--END -->
                    <!--BEGIN: SLIDE #4 -->
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                        <img alt="" src="~/Content/Images/banner/banner_Ewaste04.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <div class="tp-caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-50" data-speed="500" data-start="1000" data-transform_idle="o:1;" data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                             data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
                            <h3 class="c-main-title-circle c-font-48 c-font-bold c-font-center c-font-uppercase c-font-white c-block">  </h3>
                        </div>
                        <div class="tp-caption lft" data-x="center" data-y="center" data-voffset="110" data-speed="900" data-start="2000" data-transform_idle="o:1;" data-transform_in="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;"
                             data-transform_out="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;">

                        </div>
                    </li>
                    <!--END -->
                    <!--END -->
                </ul>
            </div>
        </div>
    </section>
    <!-- END: LAYOUT/SLIDERS/REVO-SLIDER-4 -->
    <!-- BEGIN: CONTENT/FEATURES/FEATURES-1 -->
    <div class="c-content-box c-size-md c-bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="c-content-feature-1 wow animate fadeInUp">
                        <div class="c-content-line-icon c-theme c-icon-screen-chart"></div>
                        <h3 class="c-font-uppercase c-font-bold">To Inform </h3>
                        <p class="c-font-thin"> A knowledge repository to aware people and easy information retrieval .</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="c-content-feature-1 wow animate fadeInUp" data-wow-delay="0.2s">
                        <div class="c-content-line-icon c-theme c-icon-support"></div>
                        <h3 class="c-font-uppercase c-font-bold">To Empower</h3>
                        <p class="c-font-thin">
                            Transfer of knowledge to exchange new ideas and opportunities.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 c-card">
                    <div class="c-content-feature-1 wow animate fadeInUp" data-wow-delay="0.4s">
                        <div class="c-content-line-icon c-theme c-fa-users"></div>
                        <h3 class="c-font-uppercase c-font-bold">To Connect</h3>
                        <p class="c-font-thin">
                            A knowledge exchange platform to bring together individuals and communities together.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/FEATURES/FEATURES-1 -->
    <!-- BEGIN: CONTENT/MISC/WHY-CHOOSE-US-1 -->
    <div class="c-content-box c-size-lg c-bg-grey-1">
        <div class="container">
            <div class="">
                <div class="row">
                    <div class="col-md-7">
                        <div class="c-content-feature-5">
                            <div class="c-content-title-1 wow amimate fadeInDown">
                                <h3 class="c-left c-font-dark c-font-uppercase c-font-bold">
                                    Reports
                                </h3>
                                <div class="c-line-left c-bg-blue-3 c-theme-bg"></div>
                            </div>
                            <div class="c-text wow animate fadeInLeft"> Marine litter is an environmental, economic, human health and aesthetic problem. It poses a complex..</div>
                            <button type="submit" class="btn c-btn-uppercase btn-md c-btn-bold c-btn-square c-theme-btn wow animate fadeIn"><a href="academic-report.html" style="color:white;">Explore</a></button>
                            <img class="c-photo img-responsive wow animate fadeInUp" width="420" alt="" src="~/Content/Images/misc/marine.jpg" />
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="c-content-accordion-1 c-theme wow animate fadeInRight">
                            <div class="panel-group" id="accordion" role="tablist">
                                <div class="panel">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a class="c-font-bold c-font-uppercase c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> National Municipal Waste Recovery Capacity Report </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body c-font-18"> The EPA carried out an assessment of municipal waste recovery capacity at authorised waste facilities in the State, in response to the DoECLG's policy document 'A Resource Opportunity'. </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed c-font-uppercase c-font-bold c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Composting and Anaerobic Digestion in Ireland in 2015 </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body c-font-18"> The Department of Environment, Community and Local Government (DoEHLG) and Cré co-funded the development of a national household brown bin education programme.  </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            <a class="collapsed c-font-uppercase c-font-bold c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Vermont Waste Composition Study </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body c-font-18"> Plastics are a growing part of the waste stream. Of particular significance,although they only represent 3 percent on a weight basis,is the relatively large volume. </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/MISC/WHY-CHOOSE-US-1 -->
    <!-- BEGIN: CONTENT/TILES/TILE-3 -->
    <div class="c-content-box c-size-md c-bg-white">
        <div class="c-content-tile-grid c-bs-grid-reset-space" data-auto-height="true">
            <div class="c-content-title-1 wow animate fadeInDown">
                <h3 class="c-font-uppercase c-center c-font-bold"> CAMPAIGNS </h3>
                <div class="c-line-center"></div>
            </div>
            <div class="row wow animate fadeInUp">
                <div class="col-md-6">
                    <div class="c-content-tile-1 c-bg-green">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="c-tile-content c-content-v-center" data-height="height">
                                    <div class="c-wrapper">
                                        <div class="c-body c-center">
                                            <h3 class="c-tile-title c-font-25 c-line-height-34 c-font-uppercase c-font-bold c-font-white"> To Cherish a culture, or to lose one? </h3>
                                            <a href="#" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="c-tile-content c-arrow-right c-arrow-green c-content-overlay">
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="#">
                                                <i class="icon-link"></i>
                                            </a>
                                            <a src="../Content/Images/misc/campaigns_1.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-4" >
                                                <i class="icon-magnifier"></i>                                            
                                            </a>
                                        </div>
                                    </div>
                                    <div class="c-image c-overlay-object" data-height="height" style="background-image: url(../Content/Images/misc/campaigns_1.jpg)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="c-content-tile-1 c-bg-brown-2">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="c-tile-content c-content-v-center" data-height="height">
                                    <div class="c-wrapper">
                                        <div class="c-body c-center">
                                            <h3 class="c-tile-title c-font-25 c-line-height-34 c-font-uppercase c-font-bold c-font-white"> What exactly is "Waste?" </h3>
                                            <p class="c-tile-body c-font-white">Waste, and how we choose to handle it, affects our world's environment</p>
                                            <a href="#" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="c-tile-content c-arrow-right c-arrow-brown-2 c-content-overlay">
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="#">
                                                <i class="icon-link"></i>
                                            </a>
                                            <a src="../Content/Images/misc/campaigns_2.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-4">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="c-image c-overlay-object" data-height="height" style="background-image: url(../Content/Images/misc/campaigns_2.jpg)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="c-content-tile-1 c-bg-red-2">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="c-tile-content c-arrow-left c-arrow-red-2 c-content-overlay">
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="#">
                                                <i class="icon-link"></i>
                                            </a>
                                            <a src="../Content/Images/misc/campaigns_3.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-4">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="c-image c-overlay-object" data-height="height" style="background-image: url(../Content/Images/misc/campaigns_3.jpg)"></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="c-tile-content c-content-v-center" data-height="height">
                                    <div class="c-wrapper">
                                        <div class="c-body c-center">
                                            <h3 class="c-tile-title c-font-25 c-line-height-34 c-font-uppercase c-font-bold c-font-white"> When you throw it away "Think". There is no away. </h3>
                                            <a href="#" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="c-content-tile-1 c-bg-blue-3">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="c-tile-content c-arrow-left c-arrow-blue-3 c-content-overlay">
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="#">
                                                <i class="icon-link"></i>
                                            </a>
                                            <a src="../Content/Images/misc/campaigns_4.JPG" data-lightbox="fancybox" data-fancybox-group="gallery-4">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="c-image c-overlay-object" data-height="height" style="background-image: url(../Content/Images/misc/campaigns_4.JPG)"></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="c-tile-content c-content-v-center" data-height="height">
                                    <div class="c-wrapper">
                                        <div class="c-body c-center">
                                            <h3 class="c-tile-title c-font-25 c-line-height-34 c-font-uppercase c-font-bold c-font-white"> Going Zero Waste </h3>
                                            <p class="c-tile-body c-font-white">Each day we could fill 63,000 garbage trucks with what we produce. We live in a disposable society,</p>
                                            <a href="#" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/TILES/TILE-3 -->
    <!-- BEGIN: CONTENT/ISOTOPE/GALLERY-1 -->
    <div class="c-content-box c-size-md c-bg-img-center" style="background-image: url(../Content/Images/misc/gallery-bg1.jpg)">
        <div class="container">
            <div class="c-content-title-1">
                <h3 class="c-center c-font-uppercase c-font-bold c-font-white"> media gallery</h3>
                <div class="c-line-center c-theme-bg"></div>
            </div>
            <div class="c-content-isotope-gallery c-opt-1">
                <div class="c-content-isotope-item wow animate zoomIn" data-wow-delay="0">
                    <div class="c-content-isotope-image-container">
                        <img class="c-content-isotope-image" src="~/Content/Images/misc/gallery_1.jpg" />
                        <div class="c-content-isotope-overlay c-ilightbox-image-1" href="~/Content/Images/misc/gallery_1.jpg" data-options="thumbnail:'~/Content/Images/misc/gallery_1.jpg'" data-caption="<h4>The River</h4><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum nibh pharetra ligula rhoncus, nec iaculis nulla semper.</p>">
                            <div class="c-content-isotope-overlay-icon">
                                <i class="fa fa-plus c-font-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-content-isotope-item c-item-size-double wow animate zoomIn" data-wow-delay="0.1s">
                    <div class="c-content-isotope-image-container">
                        <img class="c-content-isotope-image" src="~/Content/Images/misc/gallery_3.jpg" />
                        <div class="c-content-isotope-overlay c-ilightbox-image-1" href="~/Content/Images/misc/gallery_3.jpg" data-options="thumbnail:'~/Content/Images/misc/gallery_3.jpg'" data-caption="<h4>Speedy City</h4><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum nibh pharetra ligula rhoncus, nec iaculis nulla semper.</p>">
                            <div class="c-content-isotope-overlay-icon">
                                <i class="fa fa-plus c-font-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-content-isotope-item">
                    <div class="c-content-isotope-image-container wow animate zoomIn" data-wow-delay="0.2s">
                        <img class="c-content-isotope-image" src="~/Content/Images/misc/gallery_4.jpg" />
                        <div class="c-content-isotope-overlay c-ilightbox-image-1" href="~/Content/Images/misc/gallery_4.jpg" data-options="thumbnail:'~/Content/Images/misc/gallery_4.jpg'" data-caption="<h4>The Workstation</h4><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum nibh pharetra ligula rhoncus, nec iaculis nulla semper.</p>">
                            <div class="c-content-isotope-overlay-icon">
                                <i class="fa fa-plus c-font-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-content-isotope-item">
                    <div class="c-content-isotope-image-container wow animate zoomIn" data-wow-delay="0.3s">
                        <img class="c-content-isotope-image" src="~/Content/Images/misc/gallery_5.jpg" />
                        <div class="c-content-isotope-overlay c-ilightbox-image-1" href="~/Content/Images/misc/gallery_5.jpg" data-options="thumbnail:'~/Content/Images/misc/gallery_5.jpg'" data-caption="<h4>Exploring the Ice</h4><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum nibh pharetra ligula rhoncus, nec iaculis nulla semper.</p>">
                            <div class="c-content-isotope-overlay-icon">
                                <i class="fa fa-plus c-font-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-content-isotope-item">
                    <div class="c-content-isotope-image-container wow animate zoomIn" data-wow-delay="0.4s">
                        <img class="c-content-isotope-image" src="~/Content/Images/misc/gallery_2.jpg" />
                        <div class="c-content-isotope-overlay c-ilightbox-image-1" href="~/Content/Images/misc/gallery_2.jpg" data-options="thumbnail:'~/Content/Images/misc/gallery_2.jpg'" data-caption="<h4>Music is the way of life</h4><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum nibh pharetra ligula rhoncus, nec iaculis nulla semper.</p>">
                            <div class="c-content-isotope-overlay-icon">
                                <i class="fa fa-plus c-font-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-content-isotope-item c-item-size-double wow animate zoomIn" data-wow-delay="0.5s">
                    <div class="c-content-isotope-image-container">
                        <img class="c-content-isotope-image" src="~/Content/Images/misc/gallery_6.jpg" />
                        <div class="c-content-isotope-overlay c-ilightbox-image-1" href="~/Content/Images/misc/gallery_6.jpg" data-options="thumbnail:'~/Content/Images/misc/gallery_6.jpg'" data-caption="<h4>Reflection</h4><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum nibh pharetra ligula rhoncus, nec iaculis nulla semper.</p>">
                            <div class="c-content-isotope-overlay-icon">
                                <i class="fa fa-plus c-font-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/ISOTOPE/GALLERY-1 -->
    <!-- BEGIN: CONTENT/TABS/TAB-1 -->
    <div class="c-content-box c-size-md c-no-bottom-padding c-overflow-hide">
        <div class="c-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="c-content-title-1">
                        <h3 class="c-font-34 c-font-center c-font-bold c-font-uppercase c-margin-b-30"> DATA & TRENDS </h3>
                        <div class="c-line-center c-theme-bg"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="c-content-tab-2 c-theme c-opt-1">
                        <ul class="nav c-tab-icon-stack c-font-sbold c-font-uppercase">
                            <li>
                                <a href="#c-tab2-opt1-2" data-toggle="tab">
                                    <span class="c-content-line-icon c-icon-32"></span>
                                    <span class="c-title">Region</span>
                                </a>
                                <div class="c-arrow"></div>
                            </li>
                            <li>
                                <a href="#c-tab2-opt1-3" data-toggle="tab">
                                    <span class="c-content-line-icon c-icon-29"></span>
                                    <span class="c-title">Sector</span>
                                </a>
                                <div class="c-arrow"></div>
                            </li>
                            <li>
                                <a href="#c-tab2-opt1-4" data-toggle="tab">
                                    <span class="c-content-line-icon c-icon-20"></span>
                                    <span class="c-title">Waste Type</span>
                                </a>
                                <div class="c-arrow"></div>
                            </li>
                            <!--<li>
                                <a href="#c-tab2-opt1-5" data-toggle="tab">
                                    <span class="c-content-line-icon c-icon-36"></span>
                                    <span class="c-title">Rss Feed</span>
                                </a>
                                <div class="c-arrow"></div>
                            </li>
                            <li class="active">
                                <a href="#c-tab2-opt1-1" data-toggle="tab">
                                    <span class="c-content-line-icon c-icon-25"></span>
                                    <span class="c-title">Design</span>
                                </a>
                                <div class="c-arrow"></div>
                            </li>-->
                        </ul>
                        <div class="c-tab-content">
                            <div class="c-bg-img-center1" style="background-image: url(../Content/Images/misc/bg-data.jpg)">
                                <div class="container">
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="c-tab2-opt1-1">
                                            <div class="c-tab-pane">
                                                <img class="img-responsive" src="~/Content/Images/misc/modern_2.jpg" alt="" />
                                                <h4 class="c-font-30 c-font-thin c-font-uppercase c-font-bold">Modern Design Trends</h4>
                                                <p class="c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin ">
                                                    Brabantia, one of Europe's leading producers of innovative household products, has fused beautiful design with everyday functionality to create the perfect product for the environmentally conscious and design-savvy consumer.
                                                    In a further addition to its Built-in Bin range Brabantia now offers a double bin model ideally suited to the ever-growing need and desire of homeowners to separate waste and recyclable products.
                                                </p>
                                                <button class="btn btn-sm c-theme-btn c-btn-square c-btn-bold"><a href="water.html" style="color:white;"> EXPLORE </a></button>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="c-tab2-opt1-2">
                                            <div class="c-tab-pane">
                                                <img class="img-responsive" src="~/Content/Images/misc/region.jpg" alt="" />
                                                <h4 class="c-font-30 c-font-thin c-font-uppercase c-font-bold">Management of healthcare waste in Southeast Asia</h4>
                                                <p class="c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin "> In many Southeast Asian countries, significant challenges persist with regard to the proper management and disposal of healthcare waste. The amount of healthcare waste in these countries is continuously increasing as a result of the expansion of healthcare systems and services. In the past, healthcare waste, if it was treated at all, was mainly incinerated. In the last decade more comprehensive waste management systems were developed for Southeast Asian countries and implementation started. </p>
                                                <button class="btn btn-sm c-theme-btn c-btn-square c-btn-bold"><a href="healthcare-waste.html" style="color:white;">EXPLORE </a></button>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="c-tab2-opt1-3">
                                            <div class="c-tab-pane">
                                                <img class="img-responsive" src="~/Content/Images/misc/sector.jpg" alt="" />
                                                <h4 class="c-font-30 c-font-thin c-font-uppercase c-font-bold">IFPRI supports low carbon agriculture in a green economy</h4>
                                                <p class="c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin "> Shenggen Fan, Director General of the International Food Policy Research Institute (IFPRI), and IFPRI Senior Research Analyst Tolulope Olofinbiyi have written a new article for the Climate Action Programme of the United Nations Environment Programme.In the article, the authors describe how the change to a green and better fed world depends on the development of low carbon agriculture. </p>
                                                <button class="btn btn-sm c-theme-btn c-btn-square c-btn-bold"><a href="agricultural-waste.html" style="color:white;">EXPLORE </a></button>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="c-tab2-opt1-4">
                                            <div class="c-tab-pane">
                                                <img class="img-responsive" src="~/Content/Images/misc/wasteType.jpg" alt="" />
                                                <h4 class="c-font-30 c-font-thin c-font-uppercase c-font-bold">Infrastructure planning today determines what carbon taxes can accomplish tomorrow</h4>
                                                <p class="c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin "> Traffic congestion, air pollution, accidents – the negative externalities from car transport are not just a popular field of economic research, but also a daily arduous reality for millions of commuters around the world. However, there is more: carbon emissions and climate change may be a less visible externality from road transport, but the economic and social costs will be substantial and borne at a global scale. </p>
                                                <button class="btn btn-sm c-theme-btn c-btn-square c-btn-bold"><a href="industrial-waste.html" style="color:white;"> EXPLORE </a></button>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="c-tab2-opt1-5">
                                            <div class="c-tab-pane">
                                                <img class="img-responsive" src="~/Content/Images/misc/6.jpg" alt="" />
                                                <h4 class="c-font-30 c-font-thin c-font-uppercase c-font-bold">New ways to handle waste - Green Growth the Nordic Way</h4>
                                                <p class="c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin "> In the newest issue of “Green Growth the Nordic Way”, you can read about the Nordic Energy Technology Perspectives 2016 done by Nordic Energy Research in cooperation with the International Energy Agency.It outlines new paths towards a carbon free Nordic economy by 2050, a realistic goal according to the IEA. </p>
                                                <button class="btn btn-sm c-theme-btn c-btn-square c-btn-bold"> EXPLORE </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/TABS/TAB-1 -->
    <!-- BEGIN: CONTENT/FEATURES/FEATURES-11 -->
    <div class="c-content-box c-size-md c-bg-parallax" style="background-image: url(../Content/Images/misc/Bulgaria-3.jpg)">
        <div class="container">
            <div class="c-content-feature-8 c-opt-1">
                <ul class="c-grid">
                    <li>
                        <div class="c-card c-font-right c-bg-opacity-1">
                            <h3 class="c-font-40 c-font-white c-font-bold c-font-uppercase">
                                <br />WINNERS
                            </h3>
                            <p class="c-font-white c-font-18">
                                ZERO WASTE PLATINUM AWARD, sponsored by SAICA Natur and Wastecare
                                <br />Winner: New York Bakery and Biffa IRM
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="c-card c-bg-opacity-1">
                            <h3 class="c-font-40 c-font-white c-font-bold c-font-uppercase">
                                <br />REWARDS
                            </h3>
                            <p class="c-font-white c-font-18"> Waste Management Best Practices rewarded at Wasteserv’s annual awards ceremony <br /> &nbsp; </p>
                        </div>
                    </li>
                </ul>
                <ul class="c-grid">
                    <li>
                        <div class="c-card c-font-right c-bg-opacity-1">
                            <h3 class="c-font-40 c-font-white c-font-bold c-font-uppercase">
                                <br />COMPETITION
                            </h3>
                            <p class="c-font-white c-font-18">
                                Waste•smART – creative competition
                                "What will happen if all the resources, energy and labour used for human consumption are not re-used or recycled?"
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="c-card c-img c-bg-img-center" style="background-image: url(../Content/Images/misc/reward.jpg)">
                            <h3 class="c-font-white c-font-50 c-font-center">&nbsp;</h3>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/FEATURES/FEATURES-11 -->
    <!-- BEGIN: CONTENT/FEATURES/FEATURES-9 -->
    <div class="c-content-box c-size-md c-bg-parallax" style="background-image: url(../Content/Images/misc/bg-87.jpg)">
        <div class="container">
            <div class="c-content-feature-9">
                <!-- Begin: Title 1 component -->
                <div class="c-content-title-1">
                    <h3 class="c-font-uppercase c-center c-font-bold">What we can do</h3>
                    <div class="c-line-center c-theme-bg"></div>
                    <p class="c-font-center">Lorem ipsum dolor consetuer elit</p>
                </div>
                <!-- End-->
                <ul class="c-list">
                    <li class="wow animate fadeInUp">
                        <div class="c-card">
                            <i class="icon-rocket c-font-blue-1-5 c-font-22 c-bg-white c-float-left"></i>
                            <div class="c-content c-content-left">
                                <h3 class="c-theme-font c-font-uppercase c-font-bold">Full Sass Support</h3>
                                <p> Lorem ipsum dolor consetuer adipicing sed diam ticidut erat votpat dolore </p>
                            </div>
                        </div>
                    </li>
                    <li class="wow animate fadeInUp">
                        <div class="c-card">
                            <i class="icon-user c-font-blue-1-5 c-font-27 c-bg-white c-float-left"></i>
                            <div class="c-content c-content-left">
                                <h3 class="c-theme-font c-font-uppercase c-font-bold">Group Tasks</h3>
                                <p> Lorem ipsum dolor consetuer adipicing sed diam ticidut erat votpat dolore </p>
                            </div>
                        </div>
                    </li>
                    <li class="wow animate fadeInUp">
                        <div class="c-card">
                            <i class="icon-basket c-font-blue-1-5 c-font-27 c-bg-white c-float-left"></i>
                            <div class="c-content c-content-left">
                                <h3 class="c-theme-font c-font-uppercase c-font-bold">Responsive UI</h3>
                                <p> Lorem ipsum dolor consetuer adipicing sed diam ticidut erat votpat dolore </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="c-list">
                    <li class="wow animate fadeInUp">
                        <div class="c-card">
                            <i class="icon-bulb c-font-blue-1-5 c-font-22 c-bg-white c-float-left"></i>
                            <div class="c-content c-content-left">
                                <h3 class="c-theme-font c-font-uppercase c-font-bold">Easy Management</h3>
                                <p> Lorem ipsum dolor consetuer adipicing sed diam ticidut erat votpat dolore </p>
                            </div>
                        </div>
                    </li>
                    <li class="wow animate fadeInUp">
                        <div class="c-card">
                            <i class="icon-pie-chart c-font-blue-1-5 c-font-27 c-bg-white c-float-left"></i>
                            <div class="c-content c-content-left">
                                <h3 class="c-theme-font c-font-uppercase c-font-bold">Quick Reports</h3>
                                <p> Lorem ipsum dolor consetuer adipicing sed diam ticidut erat votpat dolore </p>
                            </div>
                        </div>
                    </li>
                    <li class="wow animate fadeInUp">
                        <div class="c-card">
                            <i class="icon-trophy c-font-blue-1-5 c-font-27 c-bg-white c-float-left"></i>
                            <div class="c-content c-content-left">
                                <h3 class="c-theme-font c-font-uppercase c-font-bold">Great Support</h3>
                                <p> Lorem ipsum dolor consetuer adipicing sed diam ticidut erat votpat dolore </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/FEATURES/FEATURES-9 -->
    <!-- BEGIN: CONTENT/BARS/BAR-5 -->
    <div class="c-content-box c-size-md c-bg-parallax" style="background-image: url(../Content/Images/misc/donation_bg.jpg)">
        <div class="container">
            <div class="c-content-bar-4">
                <h3 class="c-font-uppercase c-font-bold">
                    SUPPORT US
                    <br />DONATE NOW!
                </h3>
                <div class="c-actions">
                    <a href="#" class="btn btn-md c-btn-border-2x c-btn-square c-btn-white c-btn-uppercase c-btn-bold c-margin-b-100">Learn More</a>
                    <a href="http://themeforest.net/item/jango-responsive-multipurpose-html5-template/11987314" class="btn btn-md c-theme-btn c-btn-square c-btn-uppercase c-btn-bold c-theme-btn c-margin-b-100 hide">Purchase</a>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/BARS/BAR-5 -->
    <!-- BEGIN: CONTENT/MISC/SUBSCRIBE-FORM-1 -->
    <div class="c-content-box c-size-sm c-bg-dark">
        <div class="container">
            <div class="c-content-subscribe-form-1">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="c-title c-font-30 c-font-uppercase c-font-bold">Subscribe our membership</h3>
                        <div class="c-body c-font-16 c-font-uppercase c-font-sbold">Stay tuned on our latest news, events and activities. </div>
                    </div>
                    <div class="col-sm-6">
                        <form action="#">
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control input-lg" placeholder="Your Email Here">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn c-theme-btn c-btn-uppercase btn-lg c-btn-bold c-btn-square">SUBSCRIBE</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/MISC/SUBSCRIBE-FORM-1 -->
    <!-- BEGIN: CONTENT/TESTIMONIALS/TESTIMONIALS-6-1 -->
    <div class="c-content-box c-size-md c-bg-grey-1">
        <div class="container">
            <div class="c-content-blog-post-card-1-slider" data-slider="owl" data-items="3" data-auto-play="8000">
                <div class="c-content-title-1">
                    <h3 class="c-center c-font-uppercase c-font-bold">KNOW THE EXPERTS</h3>
                    <div class="c-line-center c-theme-bg"></div>
                    <p class="c-center c-font-uppercase1"> Explore the opportunity to know about what our global experts think. </p>
                </div>
                <div class="owl-carousel owl-theme c-theme">
                    <div class="item">
                        <div class="c-content-testimonial-3 c-option-default">
                            <div class="c-content"> <b> Clean Enviro Summit in Singapore </b> - The focus of the summit is innovative waste management, clean management, environmental technology and recycling solutions for growing cities, environmental technology and recycling solutions for growing cities.</div>
                            <div class="c-person">
                                <img src="~/Content/Images/misc/team7.jpg" class="img-responsive" />
                                <div class="c-person-detail c-font-uppercase">
                                    <h4 class="c-name">Kathryn Warren</h4>
                                    <p class="c-position c-font-bold c-theme-font">Advisor, R.T.I</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="c-content-testimonial-3 c-option-default">
                            <div class="c-content"> Ricardo Energy & Environment partnered with the Asian Development Bank (ADB) to deliver a “deep dive workshop” on Waste to Energy opportunities, barriers and delivery models as part of the bank’s major recent conference ‘the Asia Clean Energy Forum’ for growing cities.</div>
                            <div class="c-person">
                                <img src="~/Content/Images/misc/team8.jpg" class="img-responsive" />
                                <div class="c-person-detail c-font-uppercase">
                                    <h4 class="c-name">Adam Read</h4>
                                    <p class="c-position c-font-bold c-theme-font">Practice Director</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="c-content-testimonial-3 c-option-default">
                            <div class="c-content">Waste data – any signs of improvement? Last week my colleague asked me “How much local authority collected waste was recycled in England each quarter last year?”. “Give me a second and I’ll have a look” I said, flexing my fingers to go into battle with WasteDataFlow. </div>
                            <div class="c-person">
                                <img src="~/Content/Images/misc/team9.jpg" class="img-responsive" />
                                <div class="c-person-detail c-font-uppercase">
                                    <h4 class="c-name">Simone Aplin </h4>
                                    <p class="c-position c-font-bold c-theme-font">Researcher, University of Albany</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="c-content-testimonial-3 c-option-default">
                            <div class="c-content"> What Can I Do About Glass Waste? - Glass waste from hotels, clubs, pubs, bars and restaurants can be a real headache to manage and expensive to get rid of.  There are number solutions available to operators producing large quantities of glass waste, such as glass crushers. </div>
                            <div class="c-person">
                                <img src="~/Content/Images/misc/team9.jpg" class="img-responsive" />
                                <div class="c-person-detail c-font-uppercase">
                                    <h4 class="c-name">Ashley Benson</h4>
                                    <p class="c-position c-font-bold c-theme-font">Waste Expert UK</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="c-content-testimonial-3 c-option-default">
                            <div class="c-content"> Food Waste Problems? - Are changes in waste regulations regarding food waste causing you headache and adding costs to your operation?  The answer to reducing your food waste costs is to reduce the quantity of food waste you throw away such as glass crushers.</div>
                            <div class="c-person">
                                <img src="~/Content/Images/misc/team10.jpg" class="img-responsive" />
                                <div class="c-person-detail c-font-uppercase">
                                    <h4 class="c-name">Mark Jeep</h4>
                                    <p class="c-position c-font-bold c-theme-font">Waste Expert UK</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/TESTIMONIALS/TESTIMONIALS-6-1 -->
    <!-- BEGIN: CONTENT/MISC/LATEST-ITEMS-1 -->
    <div class="c-content-box c-size-md c-bg-grey-1">
        <div class="container">
            <div class="row" data-auto-height="true">
                <div class="col-md-4 c-margin-b-30 wow animate fadeInDown">
                    <div class="imagecontour effect2">
                        <img class="img-responsive" src="~/Content/Images/misc/news_1.jpg" alt="service" />
                    </div>
                    <!--
                    <div class="c-content-media-1" data-height="height">
                        <div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">Blog</div>
                        <a href="#" class="c-title c-font-uppercase c-font-bold c-theme-on-hover">Take the web by storm with JANGO</a>
                        <p>Lorem ipsum dolor sit amet, coectetuer adipiscing elit sed diam nonummy et nibh euismod aliquam erat volutpat</p>
                        <div class="c-author">
                            <div class="c-portrait" style="background-image: url(assets/base/img/content/team/team1.jpg)"></div>
                            <div class="c-name c-font-uppercase">Jack Nilson</div>
                        </div>
                    </div> -->
                </div>
                <div class="col-md-4 c-margin-b-30 wow animate fadeInDown" data-wow-delay="0.2s">
                    <div class="c-content-media-1" data-height="height">
                        <div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">Highlights</div>
                        <a href="news.html" class="c-title c-font-uppercase c-font-bold c-theme-on-hover">Head of the Global Green Growth</a>
                        <p>From 6-7 June 2016, the Global Green Growth Forum  (3GF) will host the 3GF 2016 Summit in Copenhagen, Denmark. The summit will convene leaders from corporations, </p>
                        <div class="c-date"> 10 June 2016 </div>
                    </div>
                </div>
                <div class="col-md-4 c-margin-b-30 wow animate fadeInDown" data-wow-delay="0.4s">
                    <div class="c-content-media-1 c-content-v-center c-theme-bg" data-height="height">
                        <div class="c-wrapper">
                            <div class="c-body c-center">
                                <h3 class="c-font-25 c-line-height-34 c-font-white c-font-uppercase c-font-bold"> When you throw it away "Think". There is no away.</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 wow animate fadeInLeft">
                    <div class="c-content-media-2-slider" data-slider="owl" data-single-item="true" data-auto-play="4000">
                        <div class="c-content-label c-font-uppercase c-font-bold">Latest Uploads</div>
                        <div class="owl-carousel owl-theme c-theme owl-single">
                            <div class="item">
                                <div class="c-content-media-2 c-bg-img-center" style="background-image: url(../Content/Images/misc/latestNews_1.png); min-height: 360px;">
                                    <div class="c-panel">
                                        <div class="c-fav">
                                            <i class="icon-heart c-font-thin"></i>
                                            <p class="c-font-thin">16</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="c-content-media-2 c-bg-img-center" style="background-image: url(../Content/Images/misc/latestNews_2.png); min-height: 360px;">
                                    <div class="c-panel">
                                        <div class="c-fav">
                                            <i class="icon-heart c-font-thin"></i>
                                            <p class="c-font-thin">24</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="c-content-media-2 c-bg-img-center" style="background-image: url(../Content/Images/misc/latestNews_3.jpg); min-height: 360px;">
                                    <div class="c-panel">
                                        <div class="c-fav">
                                            <i class="icon-heart c-font-thin"></i>
                                            <p class="c-font-thin">19</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow animate fadeInRight">



                    <div class="c-content-testimonial-2-slider" data-slider="owl" data-single-item="true" data-auto-play="4000">
                        <div class="c-title c-font-uppercase c-theme-bg">News Feed</div>

                        <div class="owl-carousel owl-theme c-theme owl-single">
                            <div class="item">
                                <div class="c-content-testimonial-2" style="min-height: 360px;">
                                    <div class="c-testimonial c-font-bold c-font-uppercase"><a href="events.html">Fourth Green Growth Knowledge Platform Annual Conference</a></div>
                                    <div class="c-author">
                                        <div class="c-portrait" style="background-image: url(../Content/Images/misc/team8.jpg)"></div>
                                        <div class="c-name c-font-uppercase">Jim Cook</div>
                                        <p class="c-position c-theme c-font-uppercase">Orange Inc.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="c-content-testimonial-2" style="min-height: 360px;">
                                    <div class="c-testimonial c-font-bold c-font-uppercase"><a href="events.html">GGKP launches new GREEN-WIN Website</a></div>
                                    <div class="c-author">
                                        <div class="c-portrait" style="background-image: url(../Content/Images/misc/team9.jpg)"></div>
                                        <div class="c-name c-font-uppercase">Jane Smith</div>
                                        <p class="c-position c-theme c-font-uppercase">Loop Inc.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="c-content-testimonial-2" style="min-height: 360px;">
                                    <div class="c-testimonial c-font-bold c-font-uppercase"><a href="events.html">Discovering the World's 50 Biggest Dumpsites</a></div>
                                    <div class="c-author">
                                        <div class="c-portrait" style="background-image: url(../Content/Images/misc/team10.jpg)"></div>
                                        <div class="c-name c-font-uppercase">Jane Smith</div>
                                        <p class="c-position c-theme c-font-uppercase">Loop Inc.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/MISC/LATEST-ITEMS-1 -->
    <!-- BEGIN: CONTENT/PRODUCTS/PRODUCT-1 -->
    <div class="c-content-box c-size-md c-bg-white c-no-bottom-padding">
        <div class="container">
            <div class="c-content-product-1 c-opt-1">
                <div class="c-content-title-1">
                    <h3 class="c-center c-font-uppercase c-font-bold">Hear Our Stories</h3>
                    <div class="c-line-center"></div>
                </div>
                <div class="row">
                    <div class="col-md-4 wow animate slideInUp">
                        <div class="c-media">
                            <img src="~/Content/Images/misc/reuse.jpg" alt="" />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="c-body">
                            <ul class="c-row">
                                <li class="wow animate fadeInUp">
                                    <h4>The story of Capannori – A Zero Waste champion</h4>
                                    <p>Nowhere is the phrase “Mighty oaks from little acorns grow” truer than in the small town of Capannori, Italy...</p>
                                </li>
                                <li class="wow animate fadeInUp">
                                    <h4>CCP's waste management: A success story</h4>
                                    <p>The systematic management of waste through the strict enforcement of norms for segregation of garbage and imposing...</p>
                                </li>
                            </ul>
                            <ul class="c-row">
                                <li class="wow animate fadeInUp">
                                    <h4>La Jolla Band of Luiseño Indians Improving Collection and Disposal of Household Hazardous Waste</h4>
                                    <p>Last year, the La Jolla Band of Luiseño Indians was awarded two new grants from the EPA to assist in the further development and management of the Tribe’s transfer station...</p>
                                </li>
                                <li class="wow animate fadeInUp">
                                    <h4>Plastic Bag Free Day 2016 Round-up</h4>
                                    <p>The 7th Annual Plastic Bag Free Day 2016 took place on July 3rd, seeing hundreds of actions take place around the world...</p>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-md c-btn-border-2x c-btn-square c-btn-regular c-btn-uppercase c-btn-bold c-margin-b-100"><a href="what-we-do.html">Learn More</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/PRODUCTS/PRODUCT-1 -->
    <!-- BEGIN: CONTENT/PRICING/PRICING-1 -->
    <div class="c-content-box c-size-md c-bg-grey-1">
        <div class="container">
            <div class="c-content-pricing-1">
                <div class="c-content-title-1">
                    <h3 class="c-center c-font-uppercase c-font-bold">JOIN WEBINAR</h3>
                    <div class="c-line-center"></div>
                </div>
                <div class="c-tile-container">
                    <div class="c-tile c-tile-small wow animate fadeInLeft">
                        <div class="c-label c-theme-bg">Objective</div>
                        <p class="c-price">
                            Recycling
                            <!--<sup>$</sup>-->
                        </p>
                        <p class="c-font-uppercase">Recycling is not</p>
                        <p class="c-font-uppercase">just an environmentally</p>
                        <p class="c-font-uppercase">conscious waste disposal</p>
                        <p class="c-font-uppercase">mechanism,but rather,</p>
                        <a href="#" class="btn btn-md c-btn-square c-btn-border-2x c-btn-regular c-btn-uppercase c-btn-bold">Join Now</a>
                    </div>
                    <div class="c-tile wow animate fadeInUp">
                        <div class="c-label c-theme-bg">Target</div>
                        <p class="c-price">
                            Innovative
                            <!--<sup>$</sup>-->
                        </p>
                        <p class="c-font-uppercase">the presenter will</p>
                        <p class="c-font-uppercase">discuss results-based</p>
                        <p class="c-font-uppercase">financing (RBF) mechanisms</p>
                        <p class="c-font-uppercase">in the solid waste sector</p>
                        <button type="button" class="btn btn-md c-btn-square c-btn-border-2x c-btn-regular c-btn-uppercase c-btn-bold">Join Now</button>
                    </div>
                    <div class="c-tile c-tile-small wow animate fadeInRight">
                        <div class="c-label c-theme-bg">Focus</div>
                        <p class="c-price">
                            NAMAs
                            <!--<sup>$</sup>-->
                        </p>
                        <p class="c-font-uppercase">The NAMAcademy </p>
                        <p class="c-font-uppercase">e-learning course consists</p>
                        <p class="c-font-uppercase">of 4 modules and</p>
                        <p class="c-font-uppercase">a total of 14 chapters,</p>
                        <button type="button" class="btn btn-md c-btn-square c-btn-border-2x c-btn-regular c-btn-uppercase c-btn-bold">Join Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/PRICING/PRICING-1 -->
    <!-- BEGIN: CONTENT/SLIDERS/CLIENT-LOGOS-2 -->
    <div class="c-content-box c-size-md c-bg-white">
        <div class="container">
            <!-- Begin: Testimonals 1 component -->
            <div class="c-content-client-logos-slider-1  c-bordered" data-slider="owl" data-items="6" data-desktop-items="4" data-desktop-small-items="3" data-tablet-items="3" data-mobile-small-items="2" data-auto-play="5000">
                <!-- Begin: Title 1 component -->
                <div class="c-content-title-1">
                    <h3 class="c-center c-font-uppercase c-font-bold">our partners</h3>
                    <div class="c-line-center c-theme-bg"></div>
                </div>
                <!-- End-->
                <!-- Begin: Owlcarousel -->
                <div class="owl-carousel owl-theme c-theme owl-bordered1">
                    <div class="item">
                        <a href="#">
                            <img src="~/Content/Images/logo/unep.jpg" alt="" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="~/Content/Images/logo/ietc.jpg" alt="" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="~/Content/Images/logo/gpwm.jpg" alt="" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="~/Content/Images/logo/ait.png" alt="" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="~/Content/Images/logo/aits.png" alt="" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="~/Content/Images/logo/RRCAP.PNG" alt="" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="~/Content/Images/logo/unep.jpg" alt="" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="~/Content/Images/logo/ietc.jpg" alt="" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="~/Content/Images/logo/gpwm.jpg" alt="" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="~/Content/Images/logo/ait.png" alt="" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="~/Content/Images/logo/aits.png" alt="" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="~/Content/Images/logo/RRCAP.png" alt="" />
                        </a>
                    </div>
                </div>
                <!-- End-->
            </div>
            <!-- End-->
        </div>
    </div>
    <!-- END: CONTENT/SLIDERS/CLIENT-LOGOS-2 -->
    <!-- END: PAGE CONTENT -->
</div>

