@{
    Layout = "~/Areas/New/Views/Shared/_Layout.cshtml";
}
<section class="contact-section">
    <div class="container">
        <div class="col-11 col-lg-4 col-md-8 hover-zoom" style="position: absolute; top: 20%; background-color: white; border-radius: 8px; padding: 40px;">
            <h2 class="section-title pb-4">Contact Us</h2>
            <ul class="list-group pb-4" style="list-style-type: none;">
                <li>
                    <div class="d-flex m-0">
                        <i class="bi bi-geo-alt pe-2"></i>
                        <p>
                            Regional Resource Centre for Asia and the Pacific (RRC.AP)
                            <br>
                            3rd Floor, Outreach Building
                            <br>
                            Asian Institute of Technology
                            <br>
                            58 Moo 9, Km 42 Paholyothin Highway
                            <br>
                            Klong Neung, Klong Luang
                            <br>
                            Pathum Thani 12120
                            <br>
                            Thailand
                        </p>
                    </div>
                </li>
                <li><p><i class="bi bi-telephone pe-2"></i> +662-524-6246</p></li>
                <li><p><i class="bi bi-envelope pe-2"></i>warm@rrcap.ait.ac.th</p></li>
            </ul>
        </div>
    </div>
</section>