
@{
    Layout = "~/Views/Shared/Shared.cshtml";
}


@using System.Data;

<div class="c-layout-page">
    <div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-sbold">Contact</h3>
            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                
                <li class="c-state_active">Contact Us</li>
            </ul>
        </div>
    </div>
    @Html.Raw(ViewBag.Aboutus)
    <div class="c-content-box c-size-md c-bg-white">
        <!-- BEGIN: PAGE CONTENT -->       
        <!-- BEGIN: CONTENT/CONTACT/FEEDBACK-1 -->
        <div class="c-content-box c-size-md c-bg-grey-1">
            <div class="container">
                <div class="c-content-feedback-1 c-option-1">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="c-body">
                                <div class="c-section">
                                    <div class="c-content-title-1">
                                        <h3 class="c-font-uppercase c-font-bold">Introduction</h3>
                                    </div>
                                    </div>
                                <div class="c-section">
                                    <div class="c-left c-theme-font c-font-bold c-font-uppercase">Address</div>
                                    <div class="c-margin-t-10"></div>
                                    <p>The need for knowledge sharing has been clearly identified by the United Nations and many other international organizations. In the Agenda 21 of the United Nations Conference on Environment and Development (UNCED) in response to General Assembly resolution 44/228, emphasis has been given to the relevance of systemic information, know-how and experience exchange.</p>
                                    <p>In UNEP, the relevance of knowledge sharing is reiterated in the UNEP Knowledge Management Strategy, the Access to Information Policy and the ICT Governance framework. UNEP Live has been developed as the knowledge integrator of all portals and products with UNEP.  It also serves as a neutral platform for collating relevant external data and information sources.</p>
                                    <p>In recent years, waste management has become a priority of global interest, particularly in developing countries and economies in transition. The steep population growth coupled with the urbanization phenomenon is leading to the creation of an unforeseen large middle class of consumers which, having access to more financial resources tends to consume more, and therefore generates more waste. On one hand, in fact waste quantity is rapidly increasing and on the other hand, the waste composition is getting ever more complex with hazardous waste, healthcare waste, e-waste, industrial waste water, etc.</p>
                                    <p>Many developing countries lack proper knowledge of waste management systems and practices which result in serious environmental and health impacts, as well as the loss of economic benefits that could be generated from treating waste as a resource.</p>
                                    <p>A holistic approach  - which considers waste in all forms (liquid, solid and gaseous), emphasizes waste prevention, and promotes the utilization of waste as a resource for material and energy recovery - needs to be enhanced significantly. Proper holistic waste management presents immense opportunities to realize environmental, economic, and social benefits.</p>
                                    <p>As internet reaches a vast majority of people in the world, designing, developing and implementing a Knowledge Platform for waste, will help in reaching out to a large audience with no limitations of time nor geographical boundaries, maintaining a high production and distribution speed. The freely accessible and widely open information of generic data, technical and technological information, policies and strategy implementation on waste, addressed through the web portal could be used as a powerful tool for education, capacity building and awareness raising, not only among the policy makers, partners and practitioners of the formal waste sector, but it could become a channel to reach out to the informal waste sector as well.</p>
                                </div>
                               
                            </div>
                        </div>
                        
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: CONTENT/CONTACT/FEEDBACK-1 -->
        <!-- END: PAGE CONTENT -->

    </div>
</div>