
@{
    Layout = "~/Views/Shared/Shared.cshtml";
}


@using System.Data;

@{ DataTable data = (DataTable)ViewBag.Contact;}

<div class="c-layout-page">
    <div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-sbold">Contact</h3>
            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                
                <li class="c-state_active">Contact Us</li>
            </ul>
        </div>
    </div>
    <div class="c-content-box c-size-md c-bg-white">
        <!-- BEGIN: PAGE CONTENT -->       
        <!-- BEGIN: CONTENT/CONTACT/FEEDBACK-1 -->
        <div class="c-content-box c-size-md c-bg-white">
            <div class="container">
                <div class="c-content-feedback-1 c-option-1">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="c-body">
                                <div class="c-section">
                                    <div class="c-content-title-1">
                                        <h3 class="c-font-uppercase c-font-bold">Contact Information</h3>
                                    </div>
                                    </div>
                                <div class="c-section">
                                    <div class="c-left c-theme-font c-font-bold c-font-uppercase">Address</div>
                                    <div class="c-margin-t-10"></div>
                                    <p>
                                        @*<a href="http://www.unep.org/gpwm/United%20Nations%20Environment%20Programme">
                                            United Nations Environment Programme
                                            <br />International Environmental Technology Centre,
                                        </a>
                                        <br />2-110 Ryokuchi koen,
                                        <br />Tsurumi-ku, Osaka  538-0036
                                        <br />Japan*@
                                        Regional Resource Centre for Asia and the Pacific<br />
                                        Waste and Resource Management<br />
                                        Asian Institute of Technology<br />
                                        P.O Box (4)<br />
                                        3rd Floor, Outreach Building<br />
                                        58 Moo 9 Km 42<br />
                                        Paholyothin Highway<br />
                                        Pathumthani 12120<br />
                                        Thailand<br />
                                    </p>
                                </div>
                                <div class="c-margin-t-10"></div>
                                <div class="c-section">
                                    <div class="c-left c-theme-font c-font-bold c-font-uppercase">Phone Number</div>
                                    <div class="c-margin-t-10"></div>
                                    <p>
                                        <strong>Phone:</strong> (662) 516-2124
                                    </p>
                                </div>
                                <div class="c-margin-t-10"></div>
                                <div class="c-section">
                                    <div class="c-left c-theme-font c-font-bold c-font-uppercase">Email</div>
                                    <div class="c-margin-t-10"></div>
                                    <p class="d-none">
                                        <a href="mailto:warm@rrcap.ait.ac.th">warm@rrcap.ait.ac.th</a>
                                        <br /><br />
                                        <strong>Skype:</strong> knowaste.unep<br />
                                        <strong>Instagram:</strong> @@kwk.platform<br />
                                        <strong>Twitter:</strong> @@kwk_platform<br />
                                    </p>
                                </div>
                                <div class="c-margin-t-10"></div>
                                <div class="c-section">
                                    <div class="c-left c-theme-font c-font-bold c-font-uppercase">Social</div>
                                    <div class="c-margin-t-15"></div>                                    
                                    <ul class="c-content-iconlist-1 c-theme">
                                        <li>
                                            <a href="https://twitter.com/kwk_platform">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://instagram.com/kwk.platform">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="d-none">
                                            <a href="https://www.facebook.com/rrcap.ait/">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="d-none">
                                            <a href="https://www.youtube.com/channel/UCqQkxaQvhJ6qyRw_HDVmEqQ">
                                                <i class="fa fa-youtube-play"></i>
                                            </a>
                                        </li>
                                        <li class="d-none">
                                            <a href="https://th.linkedin.com/company/ait-rrcap">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="c-contact">
                                <div class="c-content-title-1">
                                    <h3 class="c-font-uppercase c-font-bold">Send Us a Message</h3>
                                    <div class="c-line-left"></div>                                    
                                </div>
                                <form action="#">
                                    <div class="form-group">
                                        <input type="text" placeholder="Your Name" class="form-control c-square c-theme input-lg">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Your Email" class="form-control c-square c-theme input-lg">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Contact Phone" class="form-control c-square c-theme input-lg">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Country" class="form-control c-square c-theme input-lg">
                                    </div>
                                    <div class="form-group">
                                        <textarea rows="8" name="message" placeholder="Write comment here ..." class="form-control c-theme c-square input-lg"></textarea>
                                    </div>
                                    <button type="submit" class="btn c-theme-btn c-btn-uppercase btn-lg c-btn-bold c-btn-square">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: CONTENT/CONTACT/FEEDBACK-1 -->
        <!-- END: PAGE CONTENT -->

    </div>
</div>