<style>
    /* Open dropdown on hover */
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0; /* optional: remove jump on hover */
    }

</style>

<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm ptb-3 sticky-top">
    <div class="container container-md container-lg">
        <a class="navbar-brand" href="/New/Home"><img src="/Content/imgs/Logo.png" alt="KnowWaste" class="logo-height"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav align-items-center">
                <li class="nav-item text-uppercase fw-bold pe-2 dropdown">
                    <a class="nav-link" href="/New/Home/About" id="navbarDropdownMenuLink" role="button"" aria-expanded="false">
                        About
                        <i class="bi bi-chevron-down icon-hidden pl-2"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/New/Home/About">About us</a></li>
                        <li><a class="dropdown-item" href="/New/Experts">Experts</a></li>
                    </ul>
                </li>
                <li class="nav-item text-uppercase fw-bold pe-2 dropdown">
                    <a class="nav-link" href="/New/MarineDebris" id="navbarDropdownMenuLink" role="button" aria-expanded="false">
                        Marine Debris
                        <i class="bi bi-chevron-down icon-hidden pl-2"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/New/Data">Data</a></li>
                        <li><a class="dropdown-item" href="/New/GoodPractices">Good Practices</a></li>
                        <li><a class="dropdown-item" href="/New/Policy">Policy</a></li>
                        <li><a class="dropdown-item" href="/New/ELearning">E-learning</a></li>
                        <li><a class="dropdown-item" href="/New/_3rpromar">3RProMAR Reports</a></li>
                        <li><a class="dropdown-item" href="/New/Technology">Technology</a></li>
                        <li><a class="dropdown-item" href="/New/Calculator">Calculator</a></li>
                    </ul>
                </li>
                <li class="nav-item text-uppercase fw-bold pe-2"><a class="nav-link" href="/New/News">News</a></li>
                <!-- <li class="nav-item text-uppercase fw-bold pe-2"><a class="nav-link" href="upcoming-events.html">Upcoming Events</a></li> -->
                <li class="nav-item text-uppercase fw-bold pe-2 dropdown">
                    <a class="nav-link" href="/New/WasteData" id="navbarDropdownMenuLink" role="button" aria-expanded="false">
                        Topic
                        <i class="bi bi-chevron-down icon-hidden pl-2"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/New/WasteData">Waste Data</a></li>
                        <li><a class="dropdown-item" href="/New/ThematicArea">Thematic Area</a></li>
                    </ul>
                </li>
                <li class="nav-item text-uppercase fw-bold pe-2"><a class="nav-link" href="/New/Publications">Publications</a></li>
                <li class="nav-item text-uppercase fw-bold pe-3"><a class="nav-link" href="/New/Contact">Contact</a></li>
                <img src="Content/icons/search.svg" alt="Search" width="20" height="20">
                <!-- <li class="nav-item text-uppercase fw-bold"><img src="icons/search.svg" alt="Search" width="18" height="18"></li> -->
            </ul>
        </div>
    </div>
</nav>