<style>
    /* Open dropdown on hover */
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0; /* optional: remove jump on hover */
    }

    .gsc-search-button-v2{
        display: none;
    }

    .gsc-search-box {
        min-width: 175px;
    }

    /* Container */
    .search-wrapper {
        position: relative;
    }

    /* Box layout */
    .search-box {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        transition: width 0.3s ease;
        width: 35px; /* collapsed width */
        overflow: hidden;
        padding: 5px;
    }

    /* Icon */
    .search-icon {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    /* Input */
    .search-input {
        border: none;
        outline: none;
        width: 100%;
        margin-left: 8px;
        background: transparent;
    }

    .search-box.active {
        width: 220px;
    }

</style>

<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm ptb-3 sticky-top">
    <div class="container container-md container-lg">
        <a class="navbar-brand" href="/New/Home"><img src="/Content/imgs/Logo.png" alt="KnowWaste" class="logo-height"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav align-items-center">
                <li class="nav-item text-uppercase fw-bold pe-2 dropdown">
                    <a class="nav-link" href="/New/Home/About" role="button" aria-expanded="false">
                        About
                        <i class="bi bi-chevron-down icon-hidden pl-2"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/New/Home/About">About us</a></li>
                        <li><a class="dropdown-item" href="/New/Experts">Experts</a></li>
                    </ul>
                </li>
                <li class="nav-item text-uppercase fw-bold pe-2 dropdown">
                    <a class="nav-link" href="/New/MarineDebris" role="button" aria-expanded="false">
                        Marine Debris
                        <i class="bi bi-chevron-down icon-hidden pl-2"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/New/Data">Data</a></li>
                        <li><a class="dropdown-item" href="/New/GoodPractices">Good Practices</a></li>
                        <li><a class="dropdown-item" href="/New/Policy">Policy</a></li>
                        <li><a class="dropdown-item" href="/New/ELearning">E-learning</a></li>
                        <li><a class="dropdown-item" href="/New/_3rpromar">3RProMAR Reports</a></li>
                        <li><a class="dropdown-item" href="/New/Technology">Technology</a></li>
                        <li><a class="dropdown-item" href="/New/Calculator">Calculator</a></li>
                    </ul>
                </li>
                <li class="nav-item text-uppercase fw-bold pe-2"><a class="nav-link" href="/New/News">News</a></li>
                <!-- <li class="nav-item text-uppercase fw-bold pe-2"><a class="nav-link" href="upcoming-events.html">Upcoming Events</a></li> -->
                <li class="nav-item text-uppercase fw-bold pe-2 dropdown">
                    <a class="nav-link" href="/New/WasteData" role="button" aria-expanded="false">
                        Topic
                        <i class="bi bi-chevron-down icon-hidden pl-2"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/New/WasteData">Waste Data</a></li>
                        <li><a class="dropdown-item" href="/New/ThematicArea">Thematic Area</a></li>
                    </ul>
                </li>
                <li class="nav-item text-uppercase fw-bold pe-2"><a class="nav-link" href="/New/Publications">Publications</a></li>
                <li class="nav-item text-uppercase fw-bold pe-2"><a class="nav-link" href="/New/Contact">Contact</a></li>
                <li class="nav-item text-uppercase fw-bold pe-2 search-wrapper">
                    
                    <div class="search-box">
                        <div class="gcse-search" data-gname="storesearch" style="padding: 10px;"></div>
                        <img src="Content/icons/search.svg" class="search-icon ms-2" alt="Search">
                    </div>
                    <script>
                        (function () {
                            var cx = '003366087466855040359:7y-p87ccjws';
                            var gcse = document.createElement('script');
                            gcse.type = 'text/javascript';
                            gcse.async = true;
                            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                            document.getElementsByTagName('head')[0].appendChild(gcse);

                            window.__gcse = {
                                callback: function () {
                                    // This fires AFTER Google renders the DOM
                                    setTimeout(() => {
                                        const box = document.querySelector(".gsc-input-box");
                                        if (box) box.style.cssText = "border-radius:5px;border:1px solid #2577BC;width:100%;";

                                        const input = document.querySelector(".gsc-input");
                                        if (input) input.style.cssText = "padding-right:0px;";

                                        const btn = document.querySelector(".gsc-search-button input");
                                        if (btn) btn.style.display = "none";

                                        const cse = document.querySelector(".gsc-control-cse");
                                        if (cse) cse.style.padding = "0px";
                                    }, 200);
                                }
                            };
                        })();

                        document.querySelector('.search-icon').addEventListener('click', function (e) {
                            document.querySelector('.search-box').classList.toggle('active');
                            document.querySelector('.gsc-input').focus();
                        });
                    </script>
                </li>
                <!-- <li class="nav-item text-uppercase fw-bold"><img src="icons/search.svg" alt="Search" width="18" height="18"></li> -->
            </ul>
        </div>
    </div>
</nav>