@{
    Layout = "~/Views/MarineDebris/Shared.cshtml";
}

@using System.Data;

<div class="row mt-20">
    <div class="landing-dark-bg h-250px">
        <div class="container py-lg-20">
            <!--begin::Title-->
            <!--begin::Title-->
            <h3 class="text-white lh-base fw-bolder">
                <span class="text-gray-800">REPORTS & PUBLICATION</span>
                @*<span style="background: linear-gradient(to right, #12CE5D 0%, #FFD80C 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                    </span>*@
            </h3>
            <h1 class="text-white lh-base fw-bolder fs-2x fs-lg-3x">
                <span class="text-white">REPORTS</span>
                @*<span style="background: linear-gradient(to right, #12CE5D 0%, #FFD80C 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                    </span>*@
            </h1>
            <!--end::Title-->
        </div>
    </div>
</div>

<div class="container mt-lg-n20">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Card-->
        <div class="card" style="filter: drop-shadow(0px 0px 10px rgba(68, 81, 96, 0.08)); border-radius: 20px;">
            <!--begin::Card body-->
            <div class="card-body p-lg-20 rounded-">
                @Html.Raw(ViewBag.Body)
            </div>
        </div>
    </div>
</div>


