@{
    Layout = "~/Views/MarineDebris/Shared.cshtml";
}
<div class="w-100 h-100 text-center position-fixed">
    <div class="h-100" style="padding-top: 25%;">The page you're looking for isn’t here anymore—or maybe it never was. Let’s get you back on track</div>
</div>
<script>
    setTimeout(function () {
        window.location.href = "https://knowwaste.net/";
    }, 555000); // 5000 milliseconds = 5 seconds
</script>