@{
    Layout = "~/Views/MarineDebris/Shared.cshtml";
}
@using System.Data;

@{
    DataTable doc = (DataTable)ViewBag.Document;
}
<div class="row">
    <div class="landing-dark-bg h-100px">
        <div class="text-center py-lg-5">
            <!--begin::Title-->
            <!--begin::Title-->
            <h1 class="text-white lh-base fw-bolder fs-2x fs-lg-3x">
                <span style="background: linear-gradient(to right, #12CE5D 0%, #FFD80C 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                    <span id="kt_landing_hero_text">NEWS</span>
                </span>
            </h1>
            <!--end::Title-->
        </div>
    </div>

    <!--begin::Curve bottom-->
    <div id="pb_line" class="landing-curve landing-dark-color">
        <svg viewBox="15 12 1470 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 11C3.93573 11.3356 7.85984 11.6689 11.7725 12H1488.16C1492.1 11.6689 1496.04 11.3356 1500 11V12H1488.16C913.668 60.3476 586.282 60.6117 11.7725 12H0V11Z" fill="currentColor"></path>
        </svg>
    </div>
    <!--end::Curve bottom-->
</div>
<div class="mt-lg-n20 mb-lg-20 position-relative z-index-2">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Card-->
        <div class="card" style="filter: drop-shadow(0px 0px 10px rgba(68, 81, 96, 0.08))">
            <!--begin::Card body-->
            <div class="card-body p-lg-20">
                <!--begin::Heading-->
                <div class="text-center mb-5 mb-lg-10">
                    <!--begin::Title-->
                    <h1 class="text-dark mb-5" id="portfolio" data-kt-scroll-offset="{default: 100, lg: 150}">AIT-Regional Resource Centre for Asia and the Pacific</h1>
                    <h2 class="text-dark mb-5" id="portfolio" data-kt-scroll-offset="{default: 100, lg: 150}">Quarterly Activity Report, May 2023</h2>
                    <!--end::Title-->
                </div>
                <div class="row w-100 py-2 px-3 fs-2 text-white mb-5" style="background-color: #2577BC;">Conference, Forum, Meeting, Training, Webinar and Workshop</div>
                <div class="mb-5 mb-lg-10">
                    <h3 class="text-dark mb-2" id="portfolio" data-kt-scroll-offset="{default: 100, lg: 150}" style="color: #2577BC!important; ">
                        AIT RRC.AP at the 2 nd Regional Workshop Series: Reduce, Reuse and Recycle to Protect the
                        Marine Environment and Coral Reefs” (3RproMar), 22 May 2023, Bali
                    </h3>
                </div>
                <!--end::Heading-->
                <div class="row d-flex">
                    <img src="Documents/News/90479.jpg" />
                    <div class="row fs-2 mt-10">
                        The AIT RRC.AP participated in the 2nd Regional Workshop Series: Reduce, Reuse
                        and Recycle to Protect the Marine Environment and Coral Reefs” (3RproMar) at
                        Prama Sanur Beach Hotel, Bali, Indonesia on 22 May 2023.
                    </div>
                    <div class="row">
                        <div class="col-md-5 fs-2" style="text-align: justify;">
                            ASEAN and East Asia (ERIA) and Norsk
                            institute for vannforskning (NIVA). Ms.
                            Mae Jordaine B. Diopenes presented the
                            Know Waste Knowledge (KWK)
                            Platform, AIT RRC.AP’s contribution to
                            the project, during Session 1:
                            Introduction of the 3RproMar Knowledge
                            Partnership for Marine Litter Prevention
                            in ASEAN. She noted the current role of
                            AIT RRC.AP in the region in general and
                            highlighted the key features of the platform.
                        </div>
                        <div class="col-md-7" style="padding-left: 15px">
                            <img src="Documents/News/90480.jpg" width="100%"/>
                        </div>
                    </div>
                    <div class="row fs-2 my-5">
                        Mr. Solomon Huno gave his reflections as part of the panel during Thematic Session
                        2B: Leveraging Behavioural Change, Communication Strategy to Improve Waste
                        Management and Drive the Circular Economy.
                    </div>
                    <div class="row fs-2 my-5">
                        The online video can be found in this link:
                        <a href="https://www.youtube.com/watch?v=rlw_18PY5-Q&amp;t=4045s&amp;ab_channel=DitjenPPKL">https://www.youtube.com/watch?v=rlw_18PY5-Q&amp;t=4045s&amp;ab_channel=DitjenPPKL</a>
                    </div>
                </div>
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Container-->
</div>
<script src="\Scripts\jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        
    });
</script>