@{
    Layout = "~/Views/MarineDebris/Shared.cshtml";
}
@using System.Data;

@{
    DataTable videos = (DataTable)ViewBag.Videos;
}
<div class="row">
    <div class="landing-dark-bg h-100px">
        <div class="text-center py-lg-5">
            <!--begin::Title-->
            <!--begin::Title-->
            <h1 class="text-white lh-base fw-bolder fs-2x fs-lg-3x">
                <span style="background: linear-gradient(to right, #12CE5D 0%, #FFD80C 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                    <span id="kt_landing_hero_text">Marine Debris</span>
                </span>
            </h1>
            <!--end::Title-->
        </div>
    </div>

    <!--begin::Curve bottom-->
    <div id="pb_line" class="landing-curve landing-dark-color">
        <svg viewBox="15 12 1470 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 11C3.93573 11.3356 7.85984 11.6689 11.7725 12H1488.16C1492.1 11.6689 1496.04 11.3356 1500 11V12H1488.16C913.668 60.3476 586.282 60.6117 11.7725 12H0V11Z" fill="currentColor"></path>
        </svg>
    </div>
    <!--end::Curve bottom-->
</div>
<div class="mt-lg-n15 mb-lg-n20 position-relative z-index-2">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Card-->
        <div class="card" style="filter: drop-shadow(0px 0px 10px rgba(68, 81, 96, 0.08))">
            <div class="card-header p-lg-20">
                <!--begin::Heading-->
                <div class="w-100 text-center">
                    <!--begin::Title-->
                    <h3 class="fs-2hx text-dark mb-5" id="portfolio" data-kt-scroll-offset="{default: 100, lg: 150}" style="color: #2577BC!important; ">@ViewBag.Title</h3>
                    <!--end::Title-->
                </div>
                <!--end::Heading-->
            </div>
            <!--begin::Card body-->
            <div class="card-body pt-5">
                <table id="datatable" class="table table-row-bordered gy-5">
                    <thead>
                    </thead>
                    <tbody>
                        @foreach (DataRow row in videos.Rows)
                        {
                            <tr>
                                <td>
                                    <!--begin::Item-->
                                    <div class="d-flex">
                                        <!--begin::Symbol-->
                                        <div class="col-md-3 me-5 e-learning-videos">
                                            @Html.Raw(row["Link"].ToString())
                                        </div>
                                        <!--end::Symbol-->
                                        <!--begin::Section-->
                                        <div class="d-flex align-items-center flex-row-fluid flex-wrap col-md-6">
                                            <div class="flex-grow-1 me-2">
                                                <a href="#" class="text-gray-800 text-hover-primary fs-2 fw-bolder">@Html.Raw(row["Title"].ToString())</a>
                                                <span class="text-muted fw-bold d-block fs-5">@Html.Raw(row["Description"].ToString())</span>
                                            </div>
                                            @*<span class="badge badge-light fw-bolder my-2">+82$</span>*@
                                        </div>
                                        <div class="col-md-3">
                                        </div>
                                        <!--end::Section-->
                                    </div>
                                    <!--end::Item-->
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>                
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Container-->
</div>
<script src="\Scripts\jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        console.log(document.getElementsByClassName("e-learning-videos")[0]);
        $(".e-learning-videos").find("iframe").css("height", "100%");
        $(".e-learning-videos").find("iframe").css("width", "100%");
    });
</script>