
@{
    Layout = "~/Views/Shared/Shared.cshtml";
}

<link href="~/Content/course.css" rel="stylesheet" />

@using System.Data;

<div class="c-layout-page">
    <div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-sbold">E-Learning</h3>
            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li>
                    <a href="#">Knowledge Exchange</a>
                </li>
                <li>/</li>
                <li>
                    <a href="#">Course Detail</a>
                </li>

            </ul>
        </div>
    </div>

    <div class="c-content-box c-size-md">
        <div class="container">
            <div class="row">   
                 @Html.Raw(ViewBag.Detail)                                               
            </div>
        </div>
    </div>
</div>