@{
    Layout = "~/Views/MarineDebris/Shared.cshtml";
}

<div class="row">
    <div class="landing-dark-bg h-100px">
        <div class="text-center py-lg-5">
            <!--begin::Title-->
            <!--begin::Title-->
            <h1 class="text-white lh-base fw-bolder fs-2x fs-lg-3x">
                <span style="background: linear-gradient(to right, #12CE5D 0%, #FFD80C 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                    <span id="kt_landing_hero_text">ABOUT US</span>
                </span>
            </h1>
            <!--end::Title-->
        </div>
    </div>

    <!--begin::Curve bottom-->
    <div id="pb_line" class="landing-curve landing-dark-color">
        <svg viewBox="15 12 1470 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 11C3.93573 11.3356 7.85984 11.6689 11.7725 12H1488.16C1492.1 11.6689 1496.04 11.3356 1500 11V12H1488.16C913.668 60.3476 586.282 60.6117 11.7725 12H0V11Z" fill="currentColor"></path>
        </svg>
    </div>
    <!--end::Curve bottom-->
</div>
<div class="mt-lg-n20 mb-lg-20 position-relative z-index-2">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Card-->
        <div class="card" style="filter: drop-shadow(0px 0px 10px rgba(68, 81, 96, 0.08))">
            <!--begin::Card body-->
            <div class="card-body p-lg-20">
                <!--begin::Heading-->
                <div class="text-center mb-5 mb-lg-10 d-none">
                    <!--begin::Title-->
                    <h3 class="fs-2hx text-dark mb-5" id="portfolio" data-kt-scroll-offset="{default: 100, lg: 150}" style="color: #2577BC!important; ">@ViewBag.Title</h3>
                    <!--end::Title-->
                </div>
                <!--end::Heading-->
                <div class="row d-flex">
                    <p class="fs-3 py-5 px-20">
                        The Know Waste Knowledge (KWK) Platform aims to provide a centralized location for information and
                        knowledge sharing to improve capacity for informed decision-making, focusing on marine debris. The
                        platform was created with the objective of generating and consolidating data and information on
                        sustainable waste management, as well as transforming data into comprehensible outputs for key
                        stakeholders to use. The platform provides information on international waste management projects, as
                        well as offers capacity-building support for stakeholders interested in sustainable waste management
                        systems.
                    </p>
                    <p class="fs-3 py-5 px-20">
                        The Know Waste Knowledge Platform (KWK) platform was established in 2016 under a Project
                        Cooperation Agreement (PCA) between the Regional Resource Centre for Asia and the Pacific in the
                        Asian Institute of Technology (AIT RRC.AP) and UNEP International Environmental Technology Centre
                        (UNEP-IETC), Osaka, Japan. The platform has been maintained and hosted by AIT RRC.AP throughout the
                        project, with AIT RRC.AP taking full responsibility for the KWK platform in 2020.
                    </p>
                    <p class="fs-3 py-5 px-20">
                        The “Reduce, Reuse, and Recycle to Protect the Marine Environment and Coral Reefs” (3RproMar)
                        project is a collaborative effort being implemented by the Deutsche Gesellschaft für Internationale
                        Zusammenarbeit (GIZ) GmbH on behalf of the German Federal Ministry for Economic Cooperation and
                        Development (BMZ) in cooperation with the ASEAN Secretariat.
                    </p>
                    <p class="fs-3 py-5 px-20">
                        The KWK Platform under AIT RRC.AP is working together under a Regional Knowledge Partnership
                        alongside GIZ and two partners, namely the Regional Knowledge Centre for Marine Plastic Debris (RKC-
                        MPD) hosted by the Economic Research Institute for ASEAN and East Asia (ERIA) and the International
                        Knowledge Hub Against Plastic Pollution (IKHAPP) hosted by Norsk Institute for Vannforskning (NIVA).
                    </p>
                </div>
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Container-->
</div>
<script src="\Scripts\jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {

    });
</script>