@{
    Layout = "~/Views/MarineDebris/Shared.cshtml";
}
<div class="row mt-20">
    <div class="landing-dark-bg h-250px">
        <div class="container py-lg-20">
            <!--begin::Title-->
            <!--begin::Title-->
            <h1 class="text-white lh-base fw-bolder fs-2x fs-lg-3x">
                <span class="text-white">ABOUT US</span>
                @*<span style="background: linear-gradient(to right, #12CE5D 0%, #FFD80C 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                    </span>*@
            </h1>
            <!--end::Title-->
        </div>
    </div>
</div>

<div class="container mt-lg-n20">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Card-->
        <div class="card" style="filter: drop-shadow(0px 0px 10px rgba(68, 81, 96, 0.08))">
            <!--begin::Card body-->
            <div class="card-body p-lg-20">
                <!--begin::Heading-->
                <div class="container px-20">
                    <div class="row">
                        <div class="col-sm-4 p-10">
                            <div class="h-60px w-60px m-auto my-5" style="background-image: url(Content/base/img/content/line-icons/default.png); background-position: 0px -1300%; background-size: cover;"></div>
                            <h1 class="text-center">TO INFORM</h1>
                            <p class="text-center fs-4">
                                An interactive and intuitive sustainable waste and resource management knowledge repository
                            </p>
                        </div>
                        <div class="col-sm-4 p-10">
                            <div class="h-60px w-60px m-auto my-5" style="background-image: url(Content/base/img/content/line-icons/default.png); background-position: 0px -2500%; background-size: cover;"></div>
                            <h1 class="text-center">TO EMPOWER</h1>
                            <p class="text-center fs-4">Knowledge and capacity building on the transfer of sustainable waste and resource management</p>
                        </div>
                        <div class="col-sm-4 p-10">
                            <div class="h-60px w-60px m-auto my-5" style="background-image: url(Content/base/img/content/line-icons/default.png); background-size: cover;"></div>
                            <h1 class="text-center">TO CONNECT</h1>
                            <p class="text-center fs-4">Bringing together sustainable waste and resource management related professional and institutions</p>
                        </div>
                    </div>
                </div>
                <div class="text-center mb-5 mb-lg-10 d-none">
                    <!--begin::Title-->
                    <h3 class="fs-2hx text-dark mb-5" id="portfolio" data-kt-scroll-offset="{default: 100, lg: 150}" style="color: #2577BC!important; ">@ViewBag.Title</h3>
                    <!--end::Title-->
                </div>
                <!--end::Heading-->
                <div class="row d-flex">
                    <p class="fs-3 py-5 px-20">
                        The Know Waste Knowledge (KWK) Platform provides a platform for information and knowledge sharing
                        to support inform decision-making on marine debris in ASEAN. The platform was created with the
                        objective of generating and consolidating data and information on sustainable waste management, as
                        well as transforming data into comprehensible outputs for key stakeholders to use. The KWK platform
                        also provides information on international waste management projects, as well as offers capacity-
                        building support for stakeholders through e-Learning content.
                    </p>
                    <p class="fs-3 py-5 px-20">
                        The Know Waste Knowledge Platform (KWK) platform was established in 2016 under a Project
                        Cooperation Agreement between the Regional Resource Centre for Asia and the Pacific in the Asian
                        Institute of Technology (AIT RRC.AP) and UNEP International Environmental Technology Centre (UNEP-
                        IETC), Osaka, Japan. The platform has been maintained and hosted by AIT RRC.AP throughout the
                        project, with AIT RRC.AP taking full responsibility for the KWK platform in 2020.
                    </p>
                    <p class="fs-3 py-5 px-20">
                        Currently, the KWK Platform is hosting the The “Reduce, Reuse, and Recycle to Protect the Marine
                        Environment and Coral Reefs” (3RproMar) Knowledge Partnership for Marine Litter Prevention in
                        ASEAN. The 3RproMar project is a collaborative effort being implemented by the Deutsche Gesellschaft
                        für Internationale Zusammenarbeit (GIZ) GmbH on behalf of the German Federal Ministry for Economic
                        Cooperation and Development (BMZ) in cooperation with the ASEAN Secretariat. Through the KWK
                        Platform, AIT RRC.AP is one of the partners of the 3RproMar.
                    </p>
                </div>
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Container-->
</div>
<script src="\Scripts\jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {

    });
</script>