@model KnowWaste.Models.MarineDebris
@{
    Layout = "~/Areas/New/Views/Shared/_Layout.cshtml";
}
<!-- Hero Section -->
<section class="hero-section text-white text-center d-flex align-items-center justify-content-center">
    <div class="hero-overlay">
        <hr class="custom-hr">
        <h1 class="display-5 fw-bold">MARINE DEBRIS</h1>
        <p class="lead">A Threat to Ocean Life</p>
        <hr class="custom-hr">
    </div>

    <img src="/Content/imgs/wave.png" class="swiggle-img" alt="Wave Divider" />

</section>

<!-- About Section -->
<section class="ptb-120 ">
    <div class=container container-md container-lg>
        <div class="abt-sec text-center pb-120">
            <h2 class="section-title pb-3">ABOUT MARINE DEBRIS</h2>
            <p class="text-muted">Marine debris is one of the most critical environmental challenges of our time, threatening biodiversity, harming marine life, and impacting human health and livelihoods across the world. In ASEAN, land-based plastic waste and other forms of debris are major contributors to ocean pollution. We aim to support the ASEAN Regional Action Plan for Combating Marine Debris, providing resources and insights that help integrate waste management strategies with the roadmap’s goals for cleaner, healthier, and more sustainable seas.</p>
        </div>
        <h2 class="section-title pb-3">KEY IMPORTANT FEATURES</h2>
        <div class="accordion" id="featuresAccordion">
            <div class="accordion-item custom-accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#featureOne" aria-expanded="true">
                        Data
                    </button>
                </h2>
                <div id="featureOne" class="accordion-collapse collapse show">
                    <div class="accordion-body d-flex flex-wrap align-items-center w-100">
                        <div class="col-12 col-md-6 col-lg-6">
                            <p>This section compiles and presents waste-related data from across ASEAN, helping stakeholders make evidence-based decisions to address marine litter and improve waste management. You will find data on waste generation, collection, recycling, and disposal. Our aim is to make this information accessible and actionable for policymakers, researchers, and practitioners working toward more sustainable systems.</p>

                            <a href="New/Data" class="text-primary fw-bold">Explore Now →</a>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 p-3 img-box-wrapper s-border-reverse custom-height">
                            <!-- <img src="/Content/imgs/Link.png" alt="Marine Debris Data" class="img-fluid rounded mt-3 mt-md-0" style="max-width: 300px;"> -->
                            <!-- <div class="col-md-6 p-5 main-image s-border-reverse"> -->
                            <a href="https://ap-plat.nies.go.jp/adaptation_literacy/resources/e_learning/waste_management/index.html?fbclid=IwAR2zsmf3Qun3CPYvOnuRW38yOvI7bORXqsTF-25pLuqrLiERn_7XOUSjDuo">
                                <div class="s-border-reverse col-md-12 min-h-300px h-100 box-img">
                                </div>
                            </a>
                            <!-- </div> -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- Additional Items -->
            <div class="accordion-item custom-accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#featureTwo">
                        Policy
                    </button>
                </h2>
                <div id="featureTwo" class="accordion-collapse collapse">
                    <div class="accordion-body d-flex flex-wrap align-items-center w-100">
                        <div class="col-12 col-md-6 col-lg-6">
                            <p>
                                This page provides an overview of marine debris–related policies across ASEAN
                                countries. It features an interactive table summarizing national frameworks on solid
                                waste, plastic bans, EPR, and monitoring. Please explore specific laws, strategies, and
                                enforcement mechanisms:
                            </p>

                            <a href="New/Policy" class="text-primary fw-bold">Explore Now →</a>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 p-3 img-box-wrapper s-border-reverse custom-height">
                            <!-- <img src="/Content/imgs/Link.png" alt="Marine Debris Data" class="img-fluid rounded mt-3 mt-md-0" style="max-width: 300px;"> -->
                            <!-- <div class="col-md-6 p-5 main-image s-border-reverse"> -->
                            <a href="https://ap-plat.nies.go.jp/adaptation_literacy/resources/e_learning/waste_management/index.html?fbclid=IwAR2zsmf3Qun3CPYvOnuRW38yOvI7bORXqsTF-25pLuqrLiERn_7XOUSjDuo">
                                <div class="s-border-reverse col-md-12 min-h-300px h-100 box-img">
                                </div>
                            </a>
                            <!-- </div> -->
                        </div>

                    </div>
                </div>
            </div>
            <div class="accordion-item custom-accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#featureThree">
                        3RProMAR
                    </button>
                </h2>
                <div id="featureThree" class="accordion-collapse collapse">
                    <div class="accordion-body d-flex flex-wrap align-items-center w-100">
                        <div class="col-12 col-md-6 col-lg-6">
                            <p>The “Reduce, Reuse, Recycle to Protect the Marine Environment and Coral Reefs”(3RproMar) project supports ASEAN countries in tackling marine litter through improved waste management. As the Knowledge Partner for 3RproMar, we share resources, technical guidance, and best practices developed through this initiative. This page provides updates and learning materials that strengthen capacity and foster regional collaboration to protect marine ecosystems.</p>

                            <a href="New/_3rpromar" class="text-primary fw-bold">Explore Now →</a>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 p-3 img-box-wrapper s-border-reverse custom-height">
                            <!-- <img src="/Content/imgs/Link.png" alt="Marine Debris Data" class="img-fluid rounded mt-3 mt-md-0" style="max-width: 300px;"> -->
                            <!-- <div class="col-md-6 p-5 main-image s-border-reverse"> -->
                            <a href="https://ap-plat.nies.go.jp/adaptation_literacy/resources/e_learning/waste_management/index.html?fbclid=IwAR2zsmf3Qun3CPYvOnuRW38yOvI7bORXqsTF-25pLuqrLiERn_7XOUSjDuo">
                                <div class="s-border-reverse col-md-12 min-h-300px h-100 box-img">
                                </div>
                            </a>
                            <!-- </div> -->
                        </div>

                    </div>
                </div>
            </div>
            <div class="accordion-item custom-accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#featureFour">
                        E-learning
                    </button>
                </h2>
                <div id="featureFour" class="accordion-collapse collapse">
                    <div class="accordion-body d-flex flex-wrap align-items-center w-100">
                        <div class="col-12 col-md-6 col-lg-6">
                            <p>Build your knowledge and skills through our interactive e-learning resources. Here we offer self-paced courses and training materials on sustainable waste management, climate resilience, circular economy, and marine debris prevention. Whether you are a policymaker, professional, educator, or student, these learning tools will help you develop practical strategies and innovative thinking to support a cleaner and healthier environment.</p>

                            <a href="New/ELearning" class="text-primary fw-bold">Explore Now →</a>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 p-3 img-box-wrapper s-border-reverse custom-height">
                            <!-- <img src="/Content/imgs/Link.png" alt="Marine Debris Data" class="img-fluid rounded mt-3 mt-md-0" style="max-width: 300px;"> -->
                            <!-- <div class="col-md-6 p-5 main-image s-border-reverse"> -->
                            <a href="https://ap-plat.nies.go.jp/adaptation_literacy/resources/e_learning/waste_management/index.html?fbclid=IwAR2zsmf3Qun3CPYvOnuRW38yOvI7bORXqsTF-25pLuqrLiERn_7XOUSjDuo">
                                <div class="s-border-reverse col-md-12 min-h-300px h-100 box-img">
                                </div>
                            </a>
                            <!-- </div> -->
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


</section>

<!-- network -->
<section class="ptb-120 bg-pattern text-center position-relative">
    <img src="/Content/imgs/wave-top.png" class="wave-top" alt="Wave Divider" />
    <div class="container container-md container-lg">
        <h2 class="section-title">NETWORKS OF PRACTICE</h2>
        <div class="row  mt-4 bg-white p-5">
            <div class="col-12 col-md-6 col-lg-6">
                <img src="/Content/imgs/partner1.png" class="mx-3 my-2" alt="IKHAPP">
                <p>International Knowledge Hub Against Plastic Pollution</p>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <img src="/Content/imgs/partner2.png" class="mx-3 my-2" alt="RKC-MPD">
                <p>
                    Regional Knowledge Centre for Marine Plastic
                    Debris RKC-MPD ERIA
                </p>
            </div>
        </div>
    </div>
    <img src="/Content/imgs/wave-bottom.png" class="swiggle-img" alt="Wave Divider" />
</section>

<section class="ptb-120">
    <div class="container container-md container-lg">
        <h2 class="section-title text-center mb-4">GOOD PRACTICES</h2>
        <p class="text-center text-muted mb-5">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like </p>
        <div class="row g-4">
            @foreach (ViewModels.GoodPractice item in Model.BlogList.Take(3))
            {
                <div class="col-md-4">
                    <div class="card h-100 card card-rounded s-border box-shadow tns-item tns-slide-cloned m-10">
                        <img src="Documents/Blogs/@item.Thumbnail.Split(';')[0]" class="card-img-top" alt="@item.Title" style="height: 250px; width: 100%; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <small>@item.Country</small>
                            <div class="card-text text-truncate-3">@Html.Raw(item.Description)</div>
                            <a href="New/GoodPractices/Details/@item.ID" class="btn btn-link px-0">Start Reading →</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="text-center mt-4">
            <a href="New/GoodPractices" class="btn btn-primary">View More</a>
        </div>
    </div>
</section>