.c-shop-product-details-2 {
    padding: 0px 0px 10px 0px;
}

    .c-shop-product-details-2 .col-md-3 {
        width: 22%;
    }

    .c-shop-product-details-2 .col-md-9 {
        padding: 0px;
        width: 78%;
    }

.c-shop-product-details-2 .image-circle {
    border-radius: 5px;
    width: 120px;
    margin: 15px 0px 0px 15px;
}

@media (max-width: 900px) {
    .c-shop-product-details-2 .col-md-3 {
        float: left;
    }

    .c-shop-product-details-2 .col-md-9 {
        margin-left: 170px;
        width: 75%;
        padding-right: 20px;
    }
}

@media (max-width: 415px) {
    .c-shop-product-details-2 .col-md-3 {
        float: left;
    }

    .c-shop-product-details-2 .col-md-9 {
        margin-left: 110px;
        width: 70%;
        padding-right: 20px;
    }
}