body {
    font-family: 'Roboto Condensed', sans-serif !important;
    background-color: #2577BC20 !important;
}

.landing-header .menu .menu-link.active {
    color: #009ef7;
}

.policy-yes {
    padding: 2px 40px;
    margin: 0px;
    background-color: #50cd89;
    color: white;
    border-radius: 20px;
}

.policy-no {
    padding: 2px 40px;
    margin: 0px;
    background-color: #e4e6ef;
    color: #777;
    border-radius: 20px;
}

.row {
    --bs-gutter-x: 0rem;
}

#kt_landing_hero_text {
    background: white/*linear-gradient(to right, #507938 0%, #9FC232 100%)*/;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.landing-dark-color {
    color: #2577BC;
}

.landing-dark-bg {
    background: linear-gradient(to right, #23A2D7 35%, #15DCBE);
}

.text-dark {
    color: #535551!important;
}

.menu-link {
    color: #535551 !important;
    font-weight: 700;
}

.menu-link:hover {
    color: #2577BC !important;
    font-weight: 800;
}

.see-more-row:hover {
    color: #23A2D7 !important;
}

.see-more-row:hover {
    color: #2577BC !important;
    font-weight: 600;
    background-color: #2577BC22;
}

.s-border {
    border-radius: 15px 50px;
}

.s-border-reverse {
    border-radius: 50px 15px;
}

.s-border-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 50px;
}

.box-shadow {
    box-shadow: 0px 0px 10px 5px #53555115;
}

.box-shadow-light {
    box-shadow: 0px 10px 20px 10px #ffffff33;
}

.landing-header {
    filter: drop-shadow(0px 0px 10px #53555188);
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 10px 30px 0 rgba(82,63,105,.05);
    height: 100px;
}

.carousel-text {
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: 800;
    background-color: #00000075;
    box-shadow: 0px 0px 75px 75px #00000075;
}

.carousel-text-line-top {
    width: 200px;
    border-top: 3px solid #fff;
    margin: auto;
    text-align: center;
    margin: 20px auto;
}

.carousel-text-line-bottom {
    width: 200px;
    border-top: 3px solid #fff;
    margin: auto;
    text-align: center;
    margin: 20px auto;
}

.tns.tns-default .tns-outer {
    margin: 0 2rem;
}