@{
    Layout = "~/Areas/New/Views/Shared/_Layout.cshtml";
}

<!-- Hero Section -->
<section class="contact-section">
    <div class="container">
        <div class="col-11 col-lg-4 col-md-8" style="position: absolute; top: 20%; background-color: white; border-radius: 8px; padding: 40px;">
            <h2 class="section-title pb-4">Contacts</h2>
            <ul class="list-group pb-4" style="list-style-type: none;">
                <li><p><i class="bi bi-telephone pe-2"></i> (662) 516-2124</p></li>
                <li><p><i class="bi bi-envelope pe-2"></i>warm@rrcap.ait.ac.th</p></li>
                <li><div class="d-flex m-0"><i class="bi bi-geo-alt pe-2"></i><p> Asian Institute of Technology <br> P.O Box (4) 3rd Floor, Outreach Building <br> 58 Moo 9 Km 42, Paholyothin Highway, Pathumthani 12120, Thailand</p></div></li>
            </ul>
            <div class="d-flex justify-content-center align-items-center">
                <div><img src="Content/imgs/qrcode.png" alt=""></div>
                <p>Scan the QR code and get the direction to reach our office.</p>
            </div>

        </div>
    </div>
</section>
